---
name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: "37 */6 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7

      - name: Build
        run: uv sync --group dev --group doc

      - name: Fetch data
        run: uv run gcp-changelog fetch

      - name: Build summaries
        run: uv run gcp-changelog summarize
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}

      - name: Render to markdown
        run: uv run gcp-changelog render

      - name: Has updates?
        id: meta
        run: |
          if git diff --quiet --exit-code; then
            echo "No updates found."
            echo "updates=false" >> "$GITHUB_OUTPUT"
          else
            echo "Updates found."
            echo "updates=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Render to HTML
        if: steps.meta.outputs.updates == 'true'
        run: make doc

      - name: Commit changes
        if: steps.meta.outputs.updates == 'true'
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "github-action@github.com"
          git add content site
          git commit -m "Automatic update from Google Cloud changelog"
          git push
